{{ $featured := where .Site.Pages "Params.featured" true }}
{{ if $featured }}
  <h2>{{- i18n "featured_posts" -}}</h2>
{{ end }}
<div class="featured-list">
  {{ range $featured }}
    <article class="featured-single">
        <h4><a href="{{ .RelPermalink }}">{{ .Params.title }}</a></h4>
        {{ partial "blog/meta.html" . }}
        {{ with .Params.description }}
          <p>{{ . }}</p>
        {{ else }}
          <p>{{ .Summary | plainify | truncate 200 }}</p>
        {{ end }}
    </article>
  {{ end -}}
</div>
